.empty-list-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 80vh;

  animation: fadeIn 2s;
  -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 2s;
  -o-animation: fadeIn 2s;
  -ms-animation: fadeIn 2s;
}

.empty-list-wrapper h2 {
  color: var(--dark-grey);
}
