@media only screen and (max-width: 700px) {
  article {
    width: 100%;
  }

  .imageWrapper {
    height: 200px; /* Modify this according to your need */
    overflow: hidden; /* Removing this will break the effects */
  }

  .imageWrapper img {
    transition: none;
    object-fit: unset;
  }

  img:hover {
    transform: none;
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 0;
    font-size: 1rem;
  }
}

article {
  width: 100%;
  background-color: #fff;
  padding: 15px;
  border-radius: 4px;

  animation: fadeIn 3s;
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
}

strong {
  font-size: 0.7rem;
  font-weight: bold;
  padding: 10px;
  position: absolute;
  color: #fefefe;
}

.imageWrapper {
  height: 340px;
  overflow: hidden;
}

.imageWrapper img {
  width: 920px;
  max-width: 100%;
  max-height: 340px;
  display: block;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;

  transition: transform 0.5s ease;
  overflow: hidden;
}

img:hover {
  transform: scale(1.1);
}

article a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  font-size: 1.5rem;
  background-color: var(--primary-blue);
  color: #fff;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;

  text-decoration: none;
}
