article {
  width: 100%;
  background-color: #fff;
  padding: 15px;
  border-radius: 4px;

  animation: fadeIn 3s;
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
}

.movie-title {
  font-size: 0.7rem;
  font-weight: bold;
  padding: 10px;
  position: absolute;
  color: #fefefe;
}

.image-wrapper {
  height: 340px;
  overflow: hidden;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.image-wrapper .image-card {
  width: 250px;
  max-height: 340px;
  display: block;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;

  transition: transform 0.5s ease-in-out;
  overflow: hidden;
}

.image-card:hover {
  transform: scale(1.1);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

article a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  font-size: 1.5rem;
  background-color: var(--primary-blue);
  color: #fff;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;

  text-decoration: none;
}

@media only screen and (max-width: 700px) {
  article {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .imag-wrapper {
    height: 200px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .movie-title {
    display: none;
  }

  .image-wrapper img {
    transition: none;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  img:hover {
    transform: none;
  }

  article a {
    display: block;
    width: 250px;
    text-align: center;
  }
}
